html {
  color: #171717;
  background-color: #f2f2f2;
}

body {
  font-size: 1.1em;
  font-family: georgia, serif;
  line-height: 1.4em;
  max-width: 37.5em;
  margin: 2em 2em 2em 20%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  padding-bottom: 3em;
  flex: 1;
}

footer {
  height: 1em;
  padding-bottom: 1em;
}

#profile-img {
  border-radius: 50%;
  max-height: 100%;
  max-width: 100%;
  width: 20em;
  margin: 0 auto 2em;
  display: inline;
}

@media screen and (max-width: 70em) {
  body {
    margin: 2em;
  }
}
@media screen and (max-width: 550px) {
  #profile-img {
    display: block;
  }
}

h1, h2, h3 {
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

p> a {
  background-image: linear-gradient(#ff906b, #ff906b);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 15%;
  transition: background-size 100ms ease-in-out;
}
p> a:hover, a:focus {
  background-size: 100% 100%;
  transition: background-size 100ms ease-in-out;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  padding-right: 1em;
}

li:hover, li:focus-within {
  color: #ff906b;
}

mark.orange {
  color: #ff906b;
  background: none;
}

.heart {
  color: #e25555;
}

/* Hide scrollbar */
html { scrollbar-width: none; }
::-webkit-scrollbar { display: none; }

/* Custom highlight color */
::selection {
  color: #f2f2f2;
  background: #171717;
}

