body {
  color: #171717;
  background-color: #f2f2f2;
  margin: 2em;
  font-size: 1.1em;
  line-height: 1.4em;

  max-width: 650px;
  font-family: Georgia, serif;

  position: absolute;
  min-height: 100%;
}

h1, h2, h3 {
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 1em;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

::selection {
  color: #f2f2f2;
  background: #171717;
}

a {
  text-decoration: none;
  color: inherit;
}

p> a {
  background-image: linear-gradient(#FF906B, #FF906B);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 15%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  padding-right: 1em;
  display: inline;
}

li:hover {
  color: #ff906b;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1em;
}

mark.orange {
  color: #ff906b;
  background: none;
}

.heart {
  color: #e25555;
}
